<div class="container">
  <header class="mb-2">
    <div class="header-top">
      <h1 class="text-xl font-bold">Perfil de Usuario</h1>
    </div>
  </header>

  <main *ngIf="user">
    <section class="profile-info">
      <h2>{{ user.name }}</h2>
      <p><strong>Email:</strong> {{ user.gmail }}</p>
      <p><strong>Teléfono:</strong> {{ user.phoneNumber }}</p>
    </section>
    
    <section class="publications" *ngIf="user.publications?.length">
      <h3>Publicaciones</h3>
      <div class="publication-list">
        <div class="publication-card" *ngFor="let post of user.publications; let i = index">
          <p>{{ post }}</p>
          <button (click)="deletePublication(i)" class="delete-button">Eliminar</button>
        </div>
      </div>
    </section>
    
    <button (click)="goToAddPublication()" class="add-button">Añadir Publicación</button>
  </main>
</div>
