
<div class="product-container">
  <!-- Sección del producto -->
  <div class="product-detail">
    <!-- Imagen del producto -->
    <img [src]="product.images" [alt]="product.name" class="product-image" />

    <!-- Información del producto -->
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p class="price">Precio: ${{ product.price }}</p>

      <!-- Características -->
      <p>{{ product.title }}</p>

      <!-- Descripción -->
      <h3>Descripción:</h3>
      <p>{{ product.description }}</p>
    </div>
  </div>

  <!-- Sección del usuario -->
  <div class="user-info">
    <h3>Vendedor</h3>
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.gmail }}</p>
    <p><strong>Teléfono:</strong> {{ user.phoneNumber }}</p>
  </div>
</div>

<!-- Sección de comentarios -->
<div class="comment-section">
</div>
