<div class="add-publication-container">
  <h2>Añadir Publicación</h2>
  <form (ngSubmit)="addPublication()">

    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" id="title" [(ngModel)]="publication.title" name="title" required />
    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea id="description" [(ngModel)]="publication.description" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="price">Precio:</label>
      <input
        type="number"
        id="price"
        [(ngModel)]="publication.price"
        name="price"
        required
        min="0"
        step="0.01"
        placeholder="Ingrese el precio" />
    </div>

    <div class="form-group">
      <label for="category">Categoría:</label>
      <select id="category" [(ngModel)]="publication.category" name="category" required>
        <option value="" disabled selected>Seleccione una categoría</option>
        <option value="Calzado">Calzado</option>
        <option value="Parte de Arriba">Parte de Arriba</option>
        <option value="Parte de Abajo">Parte de Abajo</option> <!-- viene bien de abajo-->
        <option value="Ropa Interior">Ropa Interior</option>
      </select>
    </div>


    <div class="form-group">
      <label>Imágenes:</label>
      <input type="file" (change)="onFileChange($event)" multiple accept="image/*" />
      <div class="image-preview-list">
        <div *ngFor="let image of publication.images; let i = index" class="image-preview-item">
          <img [src]="getImageUrl(image)" alt="Imagen seleccionada" *ngIf="image" />
          <button type="button" (click)="removeImage(i)" *ngIf="image">🗑️</button>
        </div>
      </div>
    </div>

  <button type="submit" [disabled]="submitEnabled()">Publicar</button>
  </form>
</div>
