<div class="container">
  <header class="mb-2">
    <div class="header-top">
      <h1 class="text-xl font-bold">E-commerce de Ropa</h1>
      <div class="input-container">
        <input
          type="text"
          placeholder="Buscar productos..."
          class="border rounded px-3 py-2 w-full"
          [(ngModel)]="searchTerm"
          (input)="filterProducts()"
        />
      </div>
      <button class="menu-button" (click)="toggleMenu()">☰</button>
      <div class="menu-dropdown" [class.active]="menuOpen">
        <ng-container *ngIf="userLoggedIn; else authOptions">
          <button class="auth-button" (click)="goToProfile()">Perfil</button>
          <button class="auth-button" (click)="logout()">Cerrar Sesión</button>
        </ng-container>
        <ng-template #authOptions>
          <button class="auth-button" (click)="goToLogin()">Iniciar Sesión</button>
          <button class="auth-button" (click)="goToRegister()">Registrarse</button>
        </ng-template>
      </div>
    </div>
    <nav>
      <button
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
        [class.selected]="category === selectedCategory"
        class="category-button">
        {{ category }}
      </button>
    </nav>
  </header>
  
  <main>
    <div>
      <h2 class="text-xl font-semibold mb-4">{{ selectedCategory }}</h2>
      <div class="product-list">
        <div *ngFor="let product of getProductsByCategory(selectedCategory)" class="product-card">
          <img [src]="product.images[0]" [alt]="product.name" />
          <h3>{{ product.title }}</h3>
          <p>{{ product.description }}</p>
          
          <!-- Botones solo visibles para administradores -->
          <div *ngIf="isAdmin" class="admin-buttons">
            <button class="delete-button" (click)="deleteProduct(product.id)">Eliminar</button>
            <button class="edit-button" (click)="editProduct(product.id)">Modificar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>